<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainbow</title>

    <style>
        body{
            background-color: {{background}};
        }
    </style>

</head>
<body>
<h1> {{your_name}} Rainbow! </h1>
<h2>{{name}}</h2>
<br>
<a href="http://0.0.0.0:5000/"><button> Press to go to main page!</button></a>

<br>
<a href="http://0.0.0.0:5000/red"><button> Red button! </button></a>

<br>
<a href="http://0.0.0.0:5000/orange"><button> Orange button! </button></a>

<br>
<a href="http://0.0.0.0:5000/yellow"><button> Yellow button! </button></a>

<br>
<a href="http://0.0.0.0:5000/green"><button> Green button! </button></a>

<br>
<a href="http://0.0.0.0:5000/blue"><button> Blue button! </button></a>

<br>
<a href="http://0.0.0.0:5000/indigo"><button> Indigo button! </button></a>

<br>
<a href="http://0.0.0.0:5000/violet"><button> Violet button! </button></a>

</body>
</html>